@model List<Genero>

<h1>Nuevo Libro</h1>

<form method="post">
    <label>Titulo:</label>
    <input type="text" class="form-control" name="Titulo" />
    <label>Autor:</label>
    <input type="text" name="Autor" class="form-control" />
    <label>Sinopsis:</label>
    <input type="text" name="Sinopsis" class="form-control" />
    <label>Imagen</label>
    <input type="text" name="Imagen"/>
    <br />
    <label>Genero:</label>
    <select name="IdGenero">
        @foreach(Genero gen in Model)
        {
            <option value="@gen.IdGenero">@gen.Gnombre</option>
        }

    </select>
    <button type="submit" class="btn-info">Crear Libro</button>
</form>